<section style="background: url(../assets/images/paris.jpg)" class="page-holder position-relative d-flex justify-content-between flex-column">
  <div class="overlay"></div>
  <app-nav-menu></app-nav-menu>
  <div class="container text-center text-white position-relative pt-lg-5 my-5">
    <h1 class="text-shadow mb-5">Manage all your sticky notes online!</h1>
    <p class="h2 font-family-base font-weight-light text-shadow">All your notes in one place. Access anywhere, anytime</p>
  </div>
  <div class="container text-white position-relative text-center py-5">
    <p class="h2 font-family-base font-weight-light mb-4 text-shadow">Join our mailing list and we will notify you about all our updates!</p>
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <form class="d-flex d-inline-block w-100 flex-column flex-lg-row justify-content-center">
          <input id="inlineFormInputName2" type="email" placeholder="JaneDoe@example.com" class="form-control mb-2 mr-sm-2 transparent-bg">
          <button type="submit" class="btn btn-primary letter-spacing-3 mb-2">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <footer class="position-relative w-100 text-small">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center text-white text-sm-left">
          <p class="mb-1">&copy;{{currentYear}} Sunil Thakur(Team Lead)</p>
          <p><a href="https://techbitsolution.com/" target="_blank" class="text-white">@Techbit Solution Pvt. Ltd.</a></p>
        </div>
      </div>
    </div>
  </footer>
</section>
