<div class="container-fluid position-relative pt-3 pb-0">
  <ul class="list-inline text-center text-lg-right">
    <li class="list-inline-item" style="float:left;font-family: 'Pacifico', sans-serif;">
      <a class="navbar-brand text-white font-italic " [routerLink]="['/']">
        Sticky Notes App
      </a>
    </li>
    <li class="list-inline-item"><a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="#" class="social-link instagram"><i class="fab fa-instagram"></i></a></li>
    <li class="list-inline-item"><a href="javascript:void" class="social-link instagram" [routerLink]="['/login']" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
  </ul>
</div>
