<section style="background: url(../assets/images/paris.jpg)" class="page-holder position-relative d-flex justify-content-between flex-column">
  <div class="overlay"></div>
  <app-nav-menu></app-nav-menu>
  <div class="container text-white position-relative text-center py-5">
    <div class="col-md-4 loginform">
      <p class="pb-2" style="font-size:1.6rem">Login to Sticky Notes App</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group mt-3">

          <button type="submit" [disabled]="loading" class="btn btn-primary" style="text-transform: capitalize;">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            Login
          </button>
          <a [routerLink]="['/register']" class="btn btn-success ml-2" style="text-transform: capitalize;">Register</a>
        </div>
      </form>
    </div>
  </div>
  <footer class="position-relative w-100 text-small">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center text-white text-sm-left">
          <p class="mb-1">&copy;{{currentYear}} Sunil Thakur(Team Lead)</p>
          <p><a href="https://techbitsolution.com/" target="_blank" class="text-white">@Techbit Solution Pvt. Ltd.</a></p>
        </div>
      </div>
    </div>
  </footer>
</section>
